fury==0.7.0
imageio==2.9.0
imageio-ffmpeg==0.4.4
IProgress==0.4
ipykernel
ipython
ipython-genutils
ipywidgets==7.6.3
Jinja2
jupyterlab-widgets==1.0.0
matplotlib==3.4.2
moviepy==1.0.3
numba==0.53.0
numpngw==0.0.8
numpy 
opencv-python==4.5.3.56
Pillow==8.3.1
plotly
proglog==0.1.9
pybullet==3.1.7
pygame==2.0.1
pyglet==1.5.15
scipy==1.7.0
tqdm==4.61.2
